/** fixTranscript/main/main.css **/

:root {
  --scrollWidth:           1.25rem;
}

html {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  animation: fadeUpAnim 1s ease-in-out 0.2s forwards;
  background: rgb(190, 225, 195);
  color: var(--darkGreen);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  font-family: notoSans, arial;
  margin: 0;
  max-width: 100rem;
  opacity: 0;
  padding: 0rem 2rem 2rem 2rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  font-size: 1.1rem;
  margin-top: 1rem;
}

/* hide the border for contenteditable attributes */
[contenteditable] {
  outline: 0px solid transparent;
}

.button,
.buttonDisabled {
  border: none;
  box-shadow: var(--boxShadow);
  width: auto;
}

.button:hover {
  box-shadow: var(--boxShadowHover);
}

.buttonDisabled {
  opacity: 0.5;
  border: solid 1px rgb(220, 220, 220);
  box-shadow: none;
}

.mainHeaderTitle {
  font-family: lobsterTwo, notoSansExtraLight, arial;
  font-size: 3rem;
}

.mainHeaderVersion {
  align-self: end;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.mainHeaderStatusBadge {
  box-shadow: var(--boxShadow);
  height: 2rem;
  margin-left: 2rem;
  margin-top: 0.4rem;
}

.mainButtonSubListContainer,
.mainButtonListContainer {
  border-radius: var(--borderRadius);
  /* border: solid 1px rgb(190, 225, 180); */
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
}

.mainButtonSubListContainer {
  border: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.mainProcessButton {
  background: var(--green);
}

.mainProcessButton:hover {
  background: var(--lightGreen);
}

.mainTextCardContainer {
  background: white;
  border-radius: 1rem;
  box-shadow: inset 3px 3px 5px rgba(100, 100, 100, 0.5);
  color: black;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 2rem;
  justify-content: flex-start;
  margin-top: 3rem;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  width: 100%;
}

.mainTextCardContainer::-webkit-scrollbar {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  width: var(--scrollWidth);
}

.mainTextCardContainer::-webkit-scrollbar-track {
  background: rgb(190, 225, 195);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.mainTextCardContainer::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(120, 180, 130);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.mainTextCardContainer::-webkit-scrollbar-corner {
  display: none;
}


.mainTextCardContainer::-webkit-resizer {
  /* background: red; */
}

.mainTextCardContainer::-webkit-scrollbar-track-piece {
  /* background: red; */
  cursor: pointer;
}
