/** fixTranscript/main/main.css **/

:root {
  --buttonBgColor:      rgb(  5, 140, 170);
  --buttonBgColor:      var(--lightBlue);
  --buttonBgColor:      var(--blue2);
  --buttonFgColor:      var(--almostWhite);
  --buttonHoverBgColor: var(--blue1);
  --buttonHoverFgColor: var(--buttonFgColor);
  --buttonHeight:       2rem;
  --buttonWidth:        6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  font-size: 1.1rem;
  margin-top: 1rem;
}

html {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  animation: fadeUpAnim 1s ease-in-out 0.2s forwards;
  background: var(--green);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: notoSans, arial;
  height: 100%;
  margin: 0;
  max-width: 100rem;
  opacity: 0;
  padding: 0rem 2rem 2rem 2rem;
  width: 100%;
}

/* hide the border for contenteditable attributes */
[contenteditable] {
  outline: 0px solid transparent;
}

.button,
.buttonDisabled {
  border: none;
  box-shadow: var(--boxShadow);
  width: auto;
}

.button:hover {
  box-shadow: var(--boxShadowHover);
}

.buttonDisabled {
  opacity: 0.5;
  border: solid 1px rgb(220, 220, 220);
  box-shadow: none;
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 2rem;
  overflow: hidden;
  width: 100%;
}

.headerLeft {
  align-items: center;
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
  max-width: 500px;
  min-width: 500px;
}

.headerMiddle {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-family: notoSansLight, arial;
  font-size: 2rem;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.headerRight {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
}

.headerDate {
}

.logoImage {
  background: rgb(30, 130, 0);
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 5px rgba(27, 133, 0, 0.5);
  display: none;
  font-family: lobsterTwo;
  font-size: 36px;
  margin-right: 1.5rem;
  padding: 0.75rem;
  text-align: center;
}

.logoText {
  font-family: lobsterTwo, notoSansExtraLight, arial;
  font-size: 3rem;
}

.logoVersion {
  align-self: end;
  font-family: notosansLight, arial;
  font-size: 0.75rem;
  margin-right: 2rem;
}

.logoStatusBadge {
  box-shadow: var(--boxShadow);
  height: 2rem;
  margin-top: 0.4rem;
}

.buttonSubListContainer,
.buttonListContainer {
  background: var(--extraLightGreen);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.buttonSubListContainer {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 2rem;
  height: 100%;
  justify-content: flex-start;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.dropZoneContainer,
.resultsZoneContainer {
  background: white;
  border-radius: var(--borderRadius);
  color: black;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.dropZoneContainer {
  box-shadow: inset 3px 3px 5px rgba(100, 100, 100, 0.5);
  width: 50%;
}

.resultsZoneContainer {
  width: 50%;
}

.cardBarContainer {
  align-items: center;
  border-bottom: solid 1px var(--lightGreen);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 1rem;
  justify-content: space-between;
  min-height: 2rem;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

.cardBarLeft {
  align-items: center;
  display: flex;
  flex-grow: 0;
  gap: 0.5rem;
  justify-content: flex-start;
  width: 33%;
}

.cardBarMiddle {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  justify-content: center;
  width: 34%;
}

.cardBarRight {
  display: flex;
  flex-grow: 0;
  gap: 0.5rem;
  justify-content: flex-end;
  width: 33%;
}

.cardBarTitle {
  color: var(--lightGreen);
  flex-grow: 0;
}

.dropZoneEditableContainer,
.resultsZoneEditableContainer {
  background: var(--extraLightGreen);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex-grow: 0;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}

.dropZoneEditableContainer {
  background: inherit;
}
