/** fixTranscript/main/main.css **/

:root {
  --almostBlack:      rgb( 30,  30,  30);
  --almostWhite:      rgb(250, 250, 250);
  --green:            rgb( 27, 133,   0);
  --lightGreen:       rgb(100, 167,  70);

  --buttonBgColor:      var(--green);
  --buttonFgColor:      var(--almostWhite);
  --buttonHoverBgColor: var(--lightPurple);
  --buttonHoverFgColor: var(--buttonFgColor);
  --buttonHeight:       2rem;
  --buttonWidth:        10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  margin-top: 1rem;
  font-size: 1.1rem;
}

html {
  height: 100%;
  width: 100%;
}

body {
  animation: fadeUpAnim 1s ease-in-out 0.2s forwards;
  background: var(--lightGreen);
  color: white;
  display: grid;
  font-family: notoSans, arial;
  gap: 2rem;
  grid-template-columns: 10rem 1fr 1fr;
//  grid-template-rows: auto;
  grid-auto-rows: max-content; /* OR min-content*/
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 1rem 2rem 2rem 2rem;
  width: 100%;
}

.headerContainer {
  align-items: flex-start;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  flex-direction: row;
  flex-grow: 0;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.headerLeft {
  align-items: center;
  display: flex;
  flex-grow: 0;
  justify-content: flex-start;
}

.headerMiddle {
  align-items: center;
  flex-grow: 1;
  font-family: notoSansLight, arial;
  font-size: 2rem;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.headerRight {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  min-width: 25rem;
}

.logoImage {
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(27, 133, 0, 0.5);
  height: 5rem;
  padding: 0.75rem;
}

.logoText {
  font-family: notoSansExtraLight, arial;
  font-family: frederickaTheGreat, notoSansExtraLight, arial;
  font-size: 4rem;
  margin-left: 1rem;
  margin-top: -0.1rem;
}

.logoVersion {
  align-self: end;
  font-family: notosansLight, arial;
  font-size: 1rem;
}

.controls,
.resultsZone,
.dropZone {
  background: white;
  border-radius: 10px;
  border: solid 1px var(--green);
  color: black;
  padding: 1rem;
  min-height: 100%;
}

.controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.dropZone {
  box-shadow: inset 5px 5px 5px rgba(100, 100, 100, 0.5);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.resultsZone {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer {
  align-items: center;
  color: var(--lightPurple);
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  font-size: 0.7rem;
  justify-content: center;
  letter-spacing: 1px;
  overflow: hidden;
  padding-bottom: 0.5rem;
  width: 100%;
}
