/** button.css **/

:root {
  --buttonBgColor:            var(--lightBlue);
  --buttonBgColor:            var(--blue2);
  --buttonFgColor:            var(--almostWhite);
  --buttonHoverBgColor:       var(--blue1);
  --buttonHoverFgColor:       var(--buttonFgColor);
  --buttonHeight:             2rem;
  --buttonWidth:              6rem;
  --toggleButtonOnColor:      var(--darkGreen);
  --toggleButtonOnHoverColor: var(--lightGreen3);
}

.button,
.buttonDisabled {
  align-items: center;
  background: var(--buttonBgColor);
  border-bottom: solid 1px transparent;
  border-left: solid 1px rgb(235, 195, 235);
  border-radius: 5px;
  border-right: solid 1px transparent;
  border-top: solid 1px rgb(235, 195, 235);
  box-shadow: var(--boxShadowNeuSmall);
  color: var(--buttonFgColor);
  cursor: pointer;
  display: flex;
  height: var(--buttonHeight);
  justify-content: center;
  letter-spacing: 0.05rem;
  outline-color: rgb(0, 100, 255);
  outline-width: 0px;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  transition-duration: 0.25s;
  transition-property: background, box-shadow, color;
  transition-timing-function: ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: var(--buttonWidth);
}

.button:hover {
  background: var(--buttonHoverBgColor);
  box-shadow: var(--boxShadowNeuSmallHover);
  color: var(--buttonHoverFgColor);
}

.buttonIndented {
  background: rgb(0, 0, 200);
  color: rgb(250, 250, 250);
}

.buttonDisabled {
  background-color: rgb(245, 245, 245);
  border: solid 1px rgb(230, 230, 230);
  box-shadow: none;
  color: rgb(140, 140, 140);
  pointer-events: none;  /* disables hover effects */
}

.backButton {
  background: white;
  border: solid 1px rgb(240, 210, 255);
  box-shadow: var(--boxShadowNeuSmall);
  box-shadow: none;
  color: purple;
  width: 5rem;
}

.backButton:hover {
  box-shadow: var(--boxShadowNeuSmall);
}

.toggleButton {
  justify-content: flex-start;
}

.toggleButton:hover {
  background: var(--toggleButtonOnHoverColor);
}

.toggleButtonOn {
  background: var(--toggleButtonOnColor);
}

.toggleButtonCheckBox {
  margin-right: 0.5rem;
}
